@keyframes rotation {
  from {
    transform: rotate(0deg);

  }

  to {
    transform: rotate(360deg);

  }
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', "inter", Arial, sans-serif;

}

.header {
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  margin: 0;
  z-index: -5;
  height: 100vh;
  overflow: hidden;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  border: 1px solid red;
  /* выше установили ограничения для секции */
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -2;
  animation: rotation 20s linear infinite forwards normal;
}

.logo {
  margin: 0;
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  /*border: 1px solid red;*/
}

.header__title {
  margin: 0;
  width: 730px;
  padding-left: 64px;
  display: flex;
  align-items: center;
  font-weight: 700;
  line-height: 96px;
  font-size: 102px;
  height: 100%;
  /*border: 1px solid red;*/
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 30px;
  left: 64px;
  /*border: 1px solid red;*/
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 2s linear;
  border: 1px solid red;
}

.header__link:hover {
  opacity: 0.5;
}


.header__main-illustration {
  background-size: cover;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  /*border: 1px solid red;*/
}

.description {
  padding-top: 100px;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
}


.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 80%;

}

.two-columns__brief {
  display: flex;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  min-width: 784px;
  width: 80%;
}

.two-columns__span-accent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 34px;
  font-size: 24px;
  font-weight: 700;
}

.techniques {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}

.section-title {
  box-sizing: border-box;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0 auto 20px;
  text-align: center;
}

.section-subtitle {
  box-sizing: border-box;
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.cards {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 100px;
  box-sizing: border-box;
}

.cards__item {
  box-sizing: border-box;
  max-width: 240px;
  display: flex;
  flex-direction: column;
}

.cards__title {
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.cards__image {
  background-size: cover;
  max-width: 160px;
  max-height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.cards__descriptoin {
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

.video {
  padding: 100px 0 0;
  margin: 0;
  margin-bottom: -50px;
}

.video__frames {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin: 50px auto 0;
}

.video__frame {
  width: 515px;
  height: 316px;
}

.oakley {
  background-color: #f2f2f2;
  /*border: 1px solid red;*/
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  padding-top: 160px;
}

.digits {
  margin: 0;
  padding: 100px 0 100px;
}

.table {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  gap: 100px;
  box-sizing: border-box;
}

.table__cell {
  margin-top: 60px;
  width: 250px;
  /* border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.table_heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  box-sizing: border-box;
  /* border: 1px solid red;*/
}

.table__text {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

.feynman {
  margin: 0 auto;
  background-color: #f2f2f2;
  background-image: url(/images/feynman.png);
  background-size: 867px 637px;
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 890px;
  padding-top: 100px;
  position: relative;
}

.feynman__title {
  width: 648px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.4s linear;
  position: absolute;
  right: 48px;
  top: 50%;
}

.feynman__link:hover {
  opacity: 0.5;
}

.khan {
  margin: 0;
  padding: 105px 0 0;
  background-color: #f2f2f2;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
  /*border: 1px solid red;*/
  overflow: hidden;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.khan__quote {
  padding: 50px 0 36px;
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.khan__quote-author-subline {
  padding: 10px 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 48px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  background-size: cover;
  background-repeat: no-repeat;
  /*border: 1px solid red;*/
  overflow: hidden;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.4s linear;
}

.khan__buy-link:hover {
  opacity: 0.7;
}

/* и элемента с модификатором вида ключ-значение */

.kaufman {
  padding: 90px 0 90px;
  margin: 0;
  /*border: 1px solid red;*/
  background-color: #1f1f1f;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.table_theme_dark {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: row;
  width: 1100px;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: border-box;

}


.section-title_theme_dark {
  box-sizing: border-box;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
  margin: 0px auto 0px;
  text-align: center;
  color: white;
}

.section-subtitle_theme_dark {
  margin: auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: white;
}

.table__cell_theme_dark {
  width: 200px;
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.table_heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  box-sizing: border-box;
}

.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  box-sizing: border-box;
  /*border: 1px solid red;*/
}

.kaufman-triangle {
  /*width: 877px;
 height: 877px;*/
  /*border: 1px solid red;*/
  position: absolute;
  top: 0;
  z-index: -1;
  margin: 0;
  /*border: 1px solid red;*/
}

.kaufman-triangle__images {
  width: 877px;
  height: 877px;
  /*background-size: cover;*/
  background-repeat: no-repeat;
  /*border: 1px solid red;*/
  animation: rotation 20s linear infinite forwards normal;
}

.resources {
  margin: 0;
  padding: 100px 0 217px;
}

.resources__logo-zone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 80px auto 0;
  width: 1100px;
  /*border: 1px solid red;*/
}

.resources__logo {
  width: 270px;
  height: 38px;
  /*border: 1px solid red;*/
  text-align: center;
}

.footer {
  margin: 0;
  color: #f2f2f2;
  background-color: #1f1f1f;
  box-sizing: border-box;

}

.footer__columns {
  margin: 0 auto;
  min-height: 350px;
  padding: 60px 0 40px;
  width: 90%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.footer__column_content_copyright {
  display: flex;
  width: 20px;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
  position: relative;
  /*align-items:flex-start;*/
}

.logo_place_footer {
  /*border: 1px solid red;*/
  background-size: cover;
}

.footer__author {
  margin: 18px 0;
  line-height: 25px;
  ;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_info {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 20px;
  margin: 0;
}

.footer__column_content_social {
  margin: 0;
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  gap: 20px;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
}

.footer__column-heading {
  line-height: 18px;
  font-size: 18px;
  font-weight: 700;
}


.footer__column-links {
  /*border: 1px solid red;*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-link {
  /* border: 1px solid red;*/
  text-decoration: none;
  color: #f2f2f2;
  display: flex;
  flex-direction: row;
  gap: 5px;
  transition: opacity 0.4s linear;
}

.footer__column-link:hover {
  opacity: 0.7;
}





.footer__social-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle
}