.header {
  min-height: 600px;
  max-height: 756px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}
