@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.kaufman-triangle__images {
  margin: 0;
  padding: 0;
  width: 877px;
  height: 877px;
  /*background-size: cover;*/
  background-repeat: no-repeat;
  /*border: 1px solid red;*/
  animation: rotation 20s linear infinite forwards normal;
}
